.header-third{
    display: none;
}
.header{
    flex-wrap: wrap;
    display: block;
}
.header-first, .header-second{
    width:100%;
    float: none;    
    flex: none;
    
}
.header-first h1, .header-second h1{
    
    font-size: 110%;
    margin-top: 25px;
}
.header-first p, .header-second p{
    
    font-size: 100%;
    
}
.header-first img{
    width: 100%;

}